@tailwind base;
@tailwind components;
@tailwind utilities;

.body-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
  font-size: 1rem;
  /* background-color: hsla(36, 31%, 90%, 1); */
  margin: 0;
  padding: 0;
}

.body-container > * {
  grid-column: 2;
}

html {
  font-family: var(--font-poppins);
}

.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.137);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: hsla(172, 95%, 18%, 1);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsla(36, 31%, 90%, 1);
  gap: 10px;
  border: 3px solid #ffffff67;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
  color: hsla(36, 31%, 90%, 1);
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

.slider .MuiSlider-thumb {
  background-color: hsla(172, 95%, 18%, 1);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.steps-progress {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsla(171, 15%, 35%, 1);
}

.steps-progress-head {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.steps-list {
  width: 100%;
  position: relative;
  list-style: none;
}

.steps-list::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  border-left: 3px solid #fff;
}

.steps-item {
  position: relative;
  width: 50%;
}

.steps-item:hover:nth-child(even)::before,
.steps-item:hover:nth-child(odd)::before {
  height: 100%;
}

.steps-item:nth-child(even) {
  padding-right: 20px;
  text-align: right;
  float: left;
  clear: both;
}

.steps-item:nth-child(even)::before {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 3px;
  height: 0;
  background-color: hsla(172, 95%, 18%, 1);
  display: inline-block;
  transition: all 255ms ease-in-out;
}

.steps-item:nth-child(even)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -9px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}

.steps-item:nth-child(odd) {
  float: right;
  padding-left: 20px;
  clear: both;
}

.steps-item:nth-child(odd)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 0;
  background-color: hsla(172, 95%, 18%, 1);
  display: inline-block;
  transition: all 255ms ease-in-out;
}

.steps-item:nth-child(odd)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
}

.steps-item:not(:last-child) {
  padding-bottom: 1rem;
}

.steps-item .location {
  margin-top: 0.2rem;
}

.steps-item .periode {
  margin-top: 1rem;
  font-size: 0.8rem;
}

a,
a:hover {
  text-decoration: none;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
  width: 40px;
  height: 28px;
  font-size: 10rem;
  color: #000;
  background-color: #fff;
  border: 1px solid hsla(172, 95%, 18%, 1);
  padding: 3.5px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-self: center;
  -moz-border-radius: 22px;
  -webkit-border-radius: 22px;
  -o-border-radius: 22px;
}

.socialbtns .fa:hover {
  color: #ffffff;
  background-color: hsla(172, 95%, 18%, 1);
  border: 1px solid hsla(172, 95%, 18%, 1);
}


.post-content{
display: flex;
width: 100%;
}
.post-content img {
width: 50%;
height: auto;
margin: 0 auto;

}

.trigger {
  content: url("../../public//images//trigger.png");

  /* padding: 10rem 0 0 0; */
}

.old_new {
  content:url("../../public/images/old_new.png")
}

.script {
  content: url("../../public//images/trigger_script.png");
}
