@tailwind base;
@tailwind components;
@tailwind utilities;

.body-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 72px;
  font-size: 1rem;
  /* background-color: hsla(36, 31%, 90%, 1); */
  margin: 0;
  padding: 0;
}

.body-container > * {
  grid-column: 2;
}

html {
  font-family: var(--font-poppins);
}
